body{
    background-image: url("../assets/images/fondo.jpeg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;                
    background-attachment: fixed !important;
    background-position: center !important;
    height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;


}

footer{
    background-color: #f8f9fa !important;
    padding: 20px !important;
    text-align: center !important;


}
